//background
$blue :#5f96f3;
$borderGray:#8e8ead;
$borderGold:#ffdeab;
//Font
$darkBlue:#1e5483;
$softBlue:#6471a2;
$black:#3d3f4e;

$positiveStat:#ff840d;
$negativeStat:#e24352;

.table-container{
    width: 100%;
    user-select: none;
    overflow: hidden;
    .list-container{
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .list-container-desktop{
        padding-top: 40px;
        padding-bottom: 0;
    }
    .row{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $borderGray;
        .head{
            text-align: center;
            border-right: 1px solid $borderGold;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;            
        }
        .action:hover{
            background-color: white;
            color: $darkBlue;
            cursor: pointer;
        }
        .head:last-child{
            border-right: none;
        }
        .icon{
            width: 70px;
            max-width: 100px;
        }
        .name{
            width: 30%;
        }
        .tier{
            width: 12%;
        }
        .source{
            flex: 1;
        }
    }
    .row-desktop{
        min-width: 800px;
        .icon{
            width: 100px;
        }
        .stars{
            width: 70px;
        }
        .name{
            width: 10%;
        }
        .position{
            width: 90px;
        }
        .tier{
            width: 5%;
        }
        .cbRank{
            width: 7%;
            position: relative;
        }
        .cbRank:hover .show-rank-diff{
            opacity: 1;
            font-size: inherit;
            width: 300px;
        }
        .comment{
            flex: 1;
        }
        .source{
            width: 100px;
            flex: none;
        }
        .comment{
            text-align: left;
            justify-content: center;
            align-items: center;
            overflow: auto;
            p{
                width: 100%;
                font-size: 15px;
            }
        }
    }
    .fixed{
        z-index: 100;
        position: fixed;
        background-color: $blue;
        top: 0;
        color: $black;
        -webkit-box-shadow: 0px 3px 5px 3px #3D3F4E; 
        box-shadow: 0px 3px 5px 3px #3D3F4E;
        border-bottom: 2px solid $borderGold;
    }
    .fixed-desktop{
        position: fixed;
    }
    .char-row{
        height: auto;
        .icon{
            height: auto;
            width: 70px;
            max-width: 100px;
        }
    }
    .char-row-desktop{
        .icon{
            width: 100px;
            height: auto;
        }
        .base-star{
            width: 70px;
            height: auto;
            max-height: 100px;
        }
    }
    .char{
        color: $darkBlue;
        text-align: center;
        border-right: 1px solid $borderGray;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        .src-img{
            width: 100%;
            max-height: 70px;
            max-width: 120px;
        }
    }
    .char-desktop{
        height: 100px;
        .src-img{
            width: 100%;
            max-height: 70px;
            max-width: 100px;
        }
    }
    .char:first-child{
        border-right: none;
    }
    .char:last-child{
        border-right: none;
    }
    .hidden-row{
        .base-star{
            width: 70px;
            border-right: 1px solid black;
        }
        .position{
            width: 20%;
        }
        .cb-rank{
            width: 20%;
        }
        .rank-dif{
            width: 20%;
            position: relative;
            .show-rank-diff{
                opacity: 0;
                font-size: 0;
                width: 0;
                position: absolute;
                right: 100%;
                background-color: white;
                width: 300px;
                max-width: 50vw;
                height: auto;
                overflow-wrap: break-word;
                padding: 10px 5px;
                border-radius: 20px;
                -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7); 
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7);
                transition: 0.4s;
                border: 2px solid $borderGold;
            }
            .visible{
                opacity: 1;
                font-size: inherit;
                width: 300px
            }
        
        }
        .notes{
            flex: 1;
            position: relative;
            .show-notes{
                opacity: 0;
                font-size: 0;
                position: absolute;
                right: 100%;
                background-color: white;
                width: 0;
                height: auto;
                overflow-wrap: break-word;
                max-width: 75vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                padding: 10px 5px;
                -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7); 
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7);
                border: 2px solid $borderGold;
                transition: 0.4s;
            }
            .visible{
                opacity: 1;
                font-size: inherit;
                width: 300px
            }
        }
    }
    .hidden-char{
        height: 70px;
    }
    .hidden-head{
        background-color: $blue;
        -webkit-box-shadow: 0px 3px 5px 3px #3D3F4E; 
        box-shadow: 0px 3px 5px 3px #3D3F4E;
    }
}

.table-desktop{
    width: 100%;
    height: auto;
    min-width: 800px;
    overflow-y: auto;
}

.hidden{
    transition: 0.5s;
    opacity: 0;
    .row{
        font-size: 0;
        height: 0px;
        transition: 0.5s;
    }
    .hidden-char{
        height: 0px;
        transition: 0.5s;
        .char{
            height: 0;
        }
    }
}
.show{
    opacity: 1;
    .row{
        font-size: inherit;
        height: 40px;
        transition: 0.5s;
    }
    .hidden-char{
        height: 70px;
        transition: 0.5s;
        .char{
            height: 70px;
        }
    }
    
}
.show-rank-diff{
    opacity: 0;
    font-size: 0;
    width: 0;
    position: absolute;
    right: 100%;
    background-color: white;
    width: 300px;
    max-width: 50vw;
    height: auto;
    overflow-wrap: break-word;
    padding: 10px 5px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7);
    transition: 0.4s;
    border: 2px solid $borderGold;
    top: 5%;
    z-index: 10;
}
.fa-arrow-up{
    transition: 0.5s;
}
.rotate{
    transform: rotate(180deg);
}

.c{
    background-color: #95a5a6;
}
.b{
    background-color:#ecf0f1;
}
.a{
    background-color: #3498db;
}
.s{
    background-color: #2ecc71;
}
.ss{
    background-color: #f39c12;
}
.sss{
    background-color: #e74c3c;
}

.side-bar{
    text-align: left;
    z-index: 550;
    color: $black;
    margin-top: 40px;
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100vw);
    transition: 0.5s;
    border-radius: 0 25px 25px 0;
    border: 2px solid $borderGold;
    .credits-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 20px 0;
        border-radius: 0 25px 25px 0;
        
        .btn{
            width: 90%;
            background: rgb(95,150,243);
            background: linear-gradient(180deg, rgba(95,150,243,1) 0%, rgba(199,218,251,1) 5%, rgba(95,150,243,1) 25%, rgba(95,150,243,1) 100%);
            color: white;
            padding: 10px;
            margin: 5px 0;
            border: 2px solid $borderGold;
            border-radius: 10px;
            font-weight: 700;
            -webkit-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.78); 
            box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.78);
            cursor: pointer;
            transition: 0.5s;
            text-align: center;
        }
    
        .btn:hover{
            color: $black;
            background: white;
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 5%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
        }
    }
    h2{
        color: white;
        text-align: center;
        background-color: $blue;
        padding:0 20px;
        border-radius: 10px;
    }
    h3{
        color: white;
        text-align: center;
        background-color: $blue;
        padding:0 20px;
        border-radius: 10px;
    }

    footer{
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
    }
    p{
        font-size: 14px;
    }

}
.sidebar-show{
    transform: translateX(0);
}
//Search bar
.search-icon{
    position: fixed;
    height: 50px;
    background-color: $blue;
    color: white;
    z-index: 120;
    bottom: 20px;
    right: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    border: 2px solid $borderGold;

    .search-btn{
        color: #e84118;
        float: right;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: white;
        cursor: pointer;
    }
    .search-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: $darkBlue;
        font-size: inherit;
        transition: 0.4s;
        width: 0px;
        font-weight: bold;
       }
    /*i{
        position: absolute;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }
    input{
        width: 0px;
        border: none;
        background: transparent;
        outline: none;
    }*/
}

.search-icon:hover >.search-txt{
    width: 240px;
    padding: 0 20px;
}
.search-icon:hover{
    background: white;
    color: $blue;
}
/*.extend{
    width: 50vw;
    max-width: 300px;
    input{
        color: white;
        font-size: inherit;
        font-weight: 700;
        width: 90%;
    }
}*/

//Filters

.filter-container{
    color: $black;
    background: white;
    position: fixed;
    height: auto;
    width: 55vw;
    max-width: 300px;
    right: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $borderGold;
    border-radius: 0 0 20px 20px;
    padding:20px 0;
    transform: translateX(60vw);
    transition: 0.4s;
    -webkit-box-shadow: -5px 13px 15px -1px rgba(0,0,0,0.9); 
    box-shadow: -5px 13px 15px -1px rgba(0,0,0,0.9);
    cursor: default;
    .source-filter{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            div{
                background-color: $blue;
                color: white;
                border-radius: 5px;
                padding: 0 5px;
            }
            .input-container{
                display: block;
                position: relative;
                cursor: pointer;
                font-size: inherit;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                  }
                .mark{
                    position: absolute;
                    top: 0;
                    right:0;
                    height: 25px;
                    width: 25px;
                    background-color: white;
                    border-radius: 50%;
                    border: 1px solid $blue;
                }
                input:checked ~ .mark{
                    background-image: url("./stamp.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: none;
                }
            }
            
        }
    }
    .button-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .btn{
        background: rgb(95,150,243);
        background: linear-gradient(180deg, rgba(95,150,243,1) 0%, rgba(199,218,251,1) 5%, rgba(95,150,243,1) 25%, rgba(95,150,243,1) 100%);
        color: white;
        padding: 10px;
        margin: 5px 0;
        border: 2px solid $borderGold;
        border-radius: 10px;
        font-weight: 700;
        -webkit-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.78); 
        box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.78);
        cursor: pointer;
        transition: 0.5s;
    }

    .btn:hover{
        color: $black;
        background: white;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 5%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    }

    .filter-close{
        width: 80%;
    }
}
.enter{
    transform: translateX(0);
}
.enjoy{
    text-align: center;
}
//checkbox customization

input[type=checkbox]{
    border: none;
    width: 25px;
    height: 25px;
}

.fa-info-circle{
    font-size: 25px;
}
.positive{
    color:$positiveStat;
}
.negative{
    color: $blue;
}