.table-container {
  width: 100%;
  height: 100%;
  user-select: none;
}
.table-container .list-container {
  padding-top: 40px;
}
.table-container .row {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8e8ead;
}
.table-container .row .head {
  text-align: center;
  border-right: 1px solid #ffdeab;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.table-container .row .head:last-child {
  border-right: none;
}
.table-container .row .icon {
  width: 70px;
  max-width: 100px;
}
.table-container .row .name {
  width: 30%;
}
.table-container .row .tier {
  width: 12%;
}
.table-container .row .source {
  flex: 1;
}
.table-container .fixed {
  z-index: 100;
  position: fixed;
  background-color: #5f96f3;
  color: #3d3f4e;
  -webkit-box-shadow: 0px 3px 5px 3px #3D3F4E;
  box-shadow: 0px 3px 5px 3px #3D3F4E;
  border-bottom: 2px solid #ffdeab;
}
.table-container .char-row {
  height: auto;
}
.table-container .char-row .icon {
  height: auto;
  width: 70px;
  max-width: 100px;
}
.table-container .char {
  color: #1e5483;
  text-align: center;
  border-right: 1px solid #8e8ead;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container .char .src-img {
  width: 100%;
  max-height: 70px;
  max-width: 120px;
}
.table-container .char:first-child {
  border-right: none;
}
.table-container .char:last-child {
  border-right: none;
}
.table-container .hidden-row .base-star {
  width: 70px;
  border-right: 1px solid black;
}
.table-container .hidden-row .position {
  width: 20%;
}
.table-container .hidden-row .cb-rank {
  width: 20%;
}
.table-container .hidden-row .rank-dif {
  width: 20%;
  position: relative;
}
.table-container .hidden-row .rank-dif .show-rank-diff {
  opacity: 0;
  font-size: 0;
  width: 0;
  position: absolute;
  right: 100%;
  background-color: white;
  width: 300px;
  max-width: 50vw;
  height: auto;
  overflow-wrap: break-word;
  padding: 10px 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
  transition: 0.4s;
  border: 2px solid #ffdeab;
}
.table-container .hidden-row .rank-dif .visible {
  opacity: 1;
  font-size: inherit;
  width: 300px;
}
.table-container .hidden-row .notes {
  flex: 1;
  position: relative;
}
.table-container .hidden-row .notes .show-notes {
  opacity: 0;
  font-size: 0;
  position: absolute;
  right: 100%;
  background-color: white;
  width: 0;
  height: auto;
  overflow-wrap: break-word;
  max-width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 5px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
  border: 2px solid #ffdeab;
  transition: 0.4s;
}
.table-container .hidden-row .notes .visible {
  opacity: 1;
  font-size: inherit;
  width: 300px;
}
.table-container .hidden-char {
  height: 70px;
}
.table-container .hidden-head {
  background-color: #5f96f3;
  -webkit-box-shadow: 0px 3px 5px 3px #3D3F4E;
  box-shadow: 0px 3px 5px 3px #3D3F4E;
}

.hidden {
  transition: 0.5s;
  opacity: 0;
}
.hidden .row {
  font-size: 0;
  height: 0px;
  transition: 0.5s;
}
.hidden .hidden-char {
  height: 0px;
  transition: 0.5s;
}
.hidden .hidden-char .char {
  height: 0;
}

.show {
  opacity: 1;
}
.show .row {
  font-size: inherit;
  height: 40px;
  transition: 0.5s;
}
.show .hidden-char {
  height: 70px;
  transition: 0.5s;
}
.show .hidden-char .char {
  height: 70px;
}

.fa-arrow-up {
  transition: 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.c {
  background-color: #95a5a6;
}

.b {
  background-color: #ecf0f1;
}

.a {
  background-color: #3498db;
}

.s {
  background-color: #2ecc71;
}

.ss {
  background-color: #f39c12;
}

.sss {
  background-color: #e74c3c;
}

.side-bar {
  text-align: left;
  z-index: 550;
  color: #3d3f4e;
  margin-top: 40px;
  width: 100vw;
  height: 100%;
  background-color: #5f96f3;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100vw);
  transition: 0.5s;
}
.side-bar .credits-section {
  width: 100%;
  max-width: 500px;
}
.side-bar h2 {
  text-align: center;
}
.side-bar h3 {
  text-align: center;
}
.side-bar footer {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}
.side-bar p {
  font-size: 14px;
}

@media (max-width: 400px) {
  .side-bar p {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .side-bar p {
    font-size: 12px;
  }
}
.sidebar-show {
  transform: translateX(0);
}

.search-icon {
  position: fixed;
  height: 50px;
  background-color: #5f96f3;
  color: white;
  z-index: 120;
  bottom: 20px;
  right: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  border: 2px solid #ffdeab;
  /*i{
      position: absolute;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
  }
  input{
      width: 0px;
      border: none;
      background: transparent;
      outline: none;
  }*/
}
.search-icon .search-btn {
  color: #e84118;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5f96f3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}
.search-icon .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #1e5483;
  font-size: inherit;
  transition: 0.4s;
  width: 0px;
  font-weight: bold;
}

.search-icon:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-icon:hover {
  background: white;
  color: #5f96f3;
}

.search-icon:active > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-icon:active {
  background: white;
  color: black;
}

/*.extend{
    width: 50vw;
    max-width: 300px;
    input{
        color: white;
        font-size: inherit;
        font-weight: 700;
        width: 90%;
    }
}*/
.filter-container {
  color: #3d3f4e;
  background: white;
  position: absolute;
  height: auto;
  width: 55vw;
  max-width: 300px;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffdeab;
  border-radius: 0 0 20px 20px;
  padding: 20px 0;
  transform: translateX(60vw);
  transition: 0.4s;
  -webkit-box-shadow: -5px 13px 15px -1px rgba(0, 0, 0, 0.9);
  box-shadow: -5px 13px 15px -1px rgba(0, 0, 0, 0.9);
}
.filter-container .source-filter {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter-container .source-filter li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.filter-container .source-filter li div {
  background-color: #5f96f3;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
}
.filter-container .source-filter li .input-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-container .source-filter li .input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.filter-container .source-filter li .input-container .mark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #5f96f3;
}
.filter-container .source-filter li .input-container input:checked ~ .mark {
  background-image: url("./stamp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.filter-container .button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.filter-container .btn {
  background: #5f96f3;
  background: linear-gradient(180deg, #5f96f3 0%, #c7dafb 5%, #5f96f3 25%, #5f96f3 100%);
  color: white;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ffdeab;
  border-radius: 10px;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.78);
}
.filter-container .unselect-all {
  background: white;
  background: linear-gradient(180deg, white 0%, #b3b3b3 5%, white 25%, white 100%);
  color: #3d3f4e;
}
.filter-container .filter-close {
  width: 80%;
}

.enter {
  transform: translateX(0);
}

.enjoy {
  text-align: center;
}

input[type=checkbox] {
  border: none;
  width: 25px;
  height: 25px;
}

.fa-info-circle {
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
